<main id="main">

    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Explorar</h2>
          <p>Marque seu progresso, adicione livros a sua lista pessoal de leitura, encontre novos interesses. Veja os livros já catalogados.</p>
        </div>

      </div>
    </section>


    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-3 d-flex align-items-stretch">
            <div class="card" style='background-image: url("../assets/img/livros/1007739147.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Harry Potter e a Pedra Filosofal</a></h5>
                <p class="card-text">J.K. Rowling</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("../assets/img/livros/61io1vJIWFL.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Como Eu Era Antes De Você</a></h5>
                <p class="card-text">Jojo Moyes</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch">
            <div class="card" style='background-image: url("../assets/img/livros/61oIS8ewc9L.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">A Culpa É Das Estrelas</a></h5>
                <p class="card-text">John Green</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("../assets/img/livros/81Q11TuUR3L.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">A Cinco Passos de VocÊ</a></h5>
                <p class="card-text">Rachel Lippincott</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("../assets/img/livros/51UPmi8FVSL.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Maze Runner Correr ou Morrer</a></h5>
                <p class="card-text">James Dashner</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch">
            <div class="card" style='background-image: url("../assets/img/livros/1006788625.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Crepúsculo</a></h5>
                <p class="card-text">Stephenie Meyer</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("../assets/img/livros/67f28837d213511cafbd03214c5a36d9.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="">Percy Jackson e o Ladrão de Raios</a></h5>
                <p class="card-text">Rick Riordan</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-items-stretch">
            <div class="card" style='background-image: url("../assets/img/livros/81SWBRKfExL.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="">Senhor dos Aneis A Sociedade do Anel</a></h5>
                <p class="card-text">J.R.R. Tolkien</p>
                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i>Adicionar a Leitura</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>
